@charset "UTF-8";

.fundo-branco{
    background-color: #D9D9D9;
}

.fundo-preto{
    background-color: #000;
}

.icones{
    display: flex;
    width: 100vw;
    margin-top: 40px;
    justify-content: center;
}

.icon-calc{
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(64, 64, 64);
    margin: 0 30px;
    cursor: pointer;
}

.calculadora-preta{
    background-color: #2E2E2E;
    box-shadow: 1px 1px 5px #000;
    border: solid 1px #000;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.calculadora-branca{
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px white;
    border: solid 1px white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

  .btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 1px 1px #000;
  }

  .clear {
    width: 130px;
  }

  .enter {
    height: 110px;
  }

  .zero {
    width: 130px;
  }

  .resultado {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
  }